.header {background-image: url(imgs/banneroficial.png);
    background-size: cover;
    background-position: 0px -700px;
    color: white;
    padding: 20px;
    
}




.box-noticia {
    margin: 10px 0px;
    overflow: auto;
    color: dimgray;
    clear: both;    
    padding: 20px;
    margin-right:0px;
    background-color:  #fae5c6;
    border-radius: 10px;
}


.box-noticia img {
    float: left;;
    margin-right: 10px;
    width: 250px;
    border-radius: 10px;
    clear: both;
    
    
}


.box-noticia .titulo {
    font-weight: 700;
}


.creditostotal {
text-align: left;


}

.logo {

    padding: 10px;

}

.bar {

    padding-top: 30px;


}

.roberson{

background-color: rgb(143, 252, 228);
margin-top: 12px;
padding: 10px;
margin-bottom: -30px;
text-align: center;
height: auto;
border-radius: 10px;


}

.roberson .img { border-radius: 10px;}

